<div class="banner">
    <div class="ui segment blue inverted">
        <h1 class="ui center aligned icon header">
            <i class="circular users icon"></i>
            <div class="content">
                <a href="/">Zuri Chat</a>
                <div class="sub header">
                    <h2 class="info-txt my-3">
                        Discuss with friends and families
                    </h2>
                </div>
            </div>
        </h1>
    </div>
</div>
<div class="section">
    <div class="ui one column grid">
        <div class="column"></div>
        <div class="column">
            <div class="ui centered padded compact raised segment">
                <h3>Sign Up or Sign In</h3>
                <div class="ui divider"></div>
                <% include partials/auth-form.ejs %>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>
